:root {
    --main-bg-color: #A1C349;
    --main-font-color: #243010;
    --search-color: #61810E;
}

html {
    min-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--main-font-color);
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    font-size: 14pt;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.justify_holder{
    text-align: justify;
    font-size: 0;
    line-height: 0;
}
.justify_holder:after{
    display: inline-block;
    content: "";
    width: 100%;
    height: 0 !important;
    visibility: hidden;
    overflow: hidden;
}
.justify_block{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

body {
    background: var(--main-bg-color);
}

b {
    font-weight: bold;
}

small {
    font-size: 12pt;
}

h2 {
    font-size: 24pt;
    font-weight: bold;
}

header {
    position: relative;
    width: 100%;
    padding: 20px;
}

#left_side {
    vertical-align: middle;
    line-height: normal;
}

#right_side {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

#left_side, #left_side *, #right_side {
    user-select: none;
}

header .menu {
    overflow: hidden;
    clear: both;
    max-height: 0;
    margin: 0;
}

header ul li {
    display: inline;
}

header button {
    background: transparent;
    font-weight: 600;
    font-size: 16pt;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: relative;
    width: 100%;
    background: #91B339;
}

.dropdown:hover .dropdown_content {
    display: inline-block;
}

header li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16pt;
    width: 100%;
}

header li a:hover {
    background: #B1D359;
}

#menu_icon {
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

#menu_icon span {
    font-size: 36px;
}

#menu_btn {
    display: none;
}

#menu_btn:checked ~ .menu {
  max-height: 100%;
}
#menu_btn:checked ~ #menu_icon span {
  background: transparent;
}

#logo {
    font-size: 24pt;
    display: inline-block;
    font-weight: bold;
    font-variant: small-caps;
    border-top: 3px solid var(--main-font-color);
    border-bottom: 3px solid var(--main-font-color);
}

#search {
    display: inline-block;
    background: var(--search-color);
    padding: 10px;
    border-radius: 32px;
    width: 150px;
}

#search input {
    display: block;
    width: 100%;
    background: transparent;
    color: #fff;
    padding-left: 30px;
    font-size: 12pt;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' class='bi bi-search' fill='%23A1C349' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 0 center;
}
#search input::selection {
    background: var(--main-font-color);
}
#search input::placeholder {
    color: var(--main-bg-color);
    opacity: 1; /* Firefox */
}
#search input:focus {
    outline: none;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' class='bi bi-search' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 0 center;
}

#bucket {
    display: inline-block;
}

#bucket span {
    font-size: 36px;
    vertical-align: middle;
    color: var(--main-font-color);
}

#example {
    width: 100%;
    background: #fff;
    padding: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    gap: 5px;
}

#example article, #content article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#example h3, #content h3 {
    font-size: 16pt;
    flex-grow: 1;
    display: flex;
    align-items: center;
}


#example a:hover {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

#filler {
    width: 100%;
    background: var(--main-bg-color);
    height: 100px;
}

#motto {
    width: 100%;
    padding: 0;
    background: #fff;
    display: table;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px -4px 6px -1px;
}

#left_motto {
    display: block;
    width: 100%;
    padding: 0 15px;
}

#left_motto *::selection {
    background: var(--main-bg-color);
}

#motto p {
    padding-top: 10px;
    text-align: left;
}

#motto h2 {
    padding-top: 10px;
    font-weight: bold;
    text-align: left;

}

#motto img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;

    user-select: none;
}

#why {
    padding: 20px 50px;
    width: 90%;
}

#why h2 {
    font-size: 24pt;
    padding: 25px 0;
}

#why *::selection {
    background: #fff;
}

#grid {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 100%;
}

#grid div {
    padding: 0 10px 35px 0;
}

#grid h4 {
    font-size: 16pt;
    padding: 10px 0;
}

footer {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    user-select: none;
}

footer p {
    text-align: center;
    font-size: 12pt;
}

#icons {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#icons span {
    color: var(--main-font-color);
    font-size: 32px;
    margin: 0 10px;
}


/*        CATEGORIES       */

#content {
    width: 100%;
    background: #fff;
    padding: 20px 15px;
}

#content h3 {
    font-size: 16pt;
}

#content small a, #content small b {
    font-size: 12pt;
}

#info label, #content p {
    font-weight: bold;
}

#info select {
    border: 1px solid var(--main-bg-color);
    border-radius: 12px;
    padding: 2px;
}

main {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 1fr;
    gap: 5px;
}

main a:hover {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}


/*         MEDIA           */

@media only screen and (min-width: 450px) {
    #right_side {
        position: absolute;
        top: 24px; right: 20px;
        margin: 0;
    }
}

@media only screen and (min-width: 905px) {
    #menu_icon {
        display: none;
    }

    header .menu {
        max-height: 100%;
        margin: 0 10px;
        display: inline-block;
    }

    .dropdown_content {
        position: absolute;
        width: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    #left_side {
        text-align: justify;
        font-size: 0;
        line-height: 0;
    }

    #right_side {top: 27px;}

    header ul, #logo {
        vertical-align: middle;
        line-height: normal;
    }

    #logo {margin-top: 7px;}

    header ul li {
        display: inline-block;
    }

    #search {
        width: 220px;
    }

    #search input {
        font-size: 14pt;
    }

    #example h3 {font-size: 20pt;}

    #motto {
        display: table;
        padding-left: 70px;
    }

    #left_motto {
        display: table-cell;
        padding: 10px 20px;
    }

    #left_motto h2, #left_motto p{
        padding-top: 10px;
    }

    #motto img {
        display: table-cell;
        height: 450px;
        width: auto;
        padding-left: 20px;
    }

    #icons span, #bucket span {
        font-size: 48px;
    }

    #search {
        padding: 16px;
    }

    #why {
        padding: 20px 50px;
    }

    main {
        grid-template-columns: 25% 25% 25% 25%;
        gap: 20px 5px;
    }

    #example {
        grid-template-columns: 33.3% 33.3% 33.3%;
        gap: 20px 5px;
    }

    #content h3, #example h3 {
        font-size: 18pt;
    }
}

@media only screen and (min-width: 945px) {
    #grid {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-width: 1265px) {
    #grid h4 {
        font-size: 18pt;
    }

    #grid div {
        padding: 0 70px 50px 0;
    }

    #why h2 {
        font-size: 32pt;
    }

    #why {
        padding: 50px 130px 0 130px;
    }

    #motto p {
        padding: 30px 0 25px 0;
        text-align: left;
    }

    #motto h2 {
        padding: 25px 0 50px 0;
        font-size: 32pt;
    }

    #motto img {
        display: table-cell;
    }

    #logo {
        font-size: 32pt;
    }
}
