:root {
    --main-bg-color: #A1C349;
    --main-font-color: #243010;
    --search-color: #61810E;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--main-font-color);
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    font-size: 14pt;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.justify_holder{
    text-align: justify;
    font-size: 0;
    line-height: 0;
}
.justify_holder:after{
    display: inline-block;
    content: "";
    width: 100%;
    height: 0 !important;
    visibility: hidden;
    overflow: hidden;
}
.justify_block{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

body {
    background: var(--main-bg-color);
}

h2 {
    font-size: 32pt;
    font-weight: bold;
}

header {
    position: relative;
    width: 100%;
    padding: 20px;
}

#left_side, #left_side *, #right_side {
    user-select: none;
}

#logo {
    font-size: 36pt;
    font-weight: bold;
    font-variant: small-caps;
    display: inline-block;
    border-top: 3px solid var(--main-font-color);
    border-bottom: 3px solid var(--main-font-color);
}

header ul{
    text-align: center;
    margin: 0 10px;
}
header ul li {
    display: inline-block;
}
header li a{
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16pt;
}
header li a:hover {
    text-decoration: underline;
}

#search {
    background: var(--search-color);
    padding: 16px;
    border-radius: 32px;
    width: 200px;
}

#search input {
    display: block;
    width: 100%;
    background: transparent;
    color: #fff;
    padding-left: 30px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' class='bi bi-search' fill='%23A1C349' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 0 center;
}
#search input::selection {
    background: var(--main-font-color);
}
#search input::placeholder {
    color: var(--main-bg-color);
    opacity: 1; /* Firefox */
}
#search input:focus {
    outline: none;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' class='bi bi-search' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 0 center;
}

#bucket span {
    font-size: 48px;
    color: var(--main-font-color);
}

#motto {
    width: 100%;
    padding-left: 130px;
    background: #fff;
    display: table;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px, rgba(0, 0, 0, 0.12) 0px -2px 3px, rgba(0, 0, 0, 0.24) 0px -2px 2px;;
}

#left_motto {
    display: table-cell;
}

#left_motto *::selection {
    background: var(--main-bg-color);
}

#motto p {
    padding: 30px 0 25px 0;
    text-align: left;
}

#motto h2 {
    padding: 25px 0 50px 0;
    font-size: 32pt;
    font-weight: bold;
    text-align: left;

}

#motto img {
    display: table-cell;
    height: 450px;
    width: auto;
    padding-left: 20px;
    user-select: none;
}

#why {
    padding: 50px 130px 0 130px;
    width: 90%;
}
#why h2 {
    padding: 25px 0;
}

#why *::selection {
    background: #fff;
}

#grid {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

#grid div {
    padding: 0 70px 50px 0;
}

#grid h4 {
    font-size: 18pt;
    padding: 10px 0;
}

footer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
    user-select: none;
}

footer p {
    text-align: center;
    font-size: 12pt;
}

#icons {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#icons span {
    color: var(--main-font-color);
    font-size: 48px;
    margin: 0 10px;
}

@media only screen and (max-width: 1265px) {
    #motto {
        padding-left: 100px;
    }
    #left_motto h2, #why h2 {
        font-size: 26pt;
    }
    #motto img {
        height: 400px;
    }
    #grid h4 {
        font-size: 16pt;
    }
    #why {
        padding: 30px 100px 0 100px;
    }
}

@media only screen and (max-width: 1070px) {
    #motto {
        padding-left: 70px;
    }
    #left_motto h2, #why h2 {
        font-size: 24pt;
    }
    #motto img {
        height: 350px;
    }
    #grid {
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 945px) {
    #motto {
        display: block;
        padding: 0;
    }
    #left_motto {
        width: 100%;
        padding: 10px 20px;
    }
    #left_motto h2, #left_motto p{
        padding-top: 10px;
    }
    #motto img {
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
    }
    #icons span {
        font-size: 32px;
    }
    #why {
        padding: 20px 50px;
    }
}
@media only screen and (max-width: 905px) {

}
